body{
    background-image: url("https://i.postimg.cc/gj5FG33b/maxime-bui-ZZvn-CHl-c6-M-unsplash.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: white;
}

h1{
    
    color: #333;
    font-size: 100px;
    display: flex;
    justify-content: center; 
    
}

/* Add a gray background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
/* Change the color of links on hover */
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
/* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: white;
    color: black;
  }

  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
  }